USE [master]
GO
/****** Object:  Database [NomeDoSeuBanco]    Script Date: 07/04/2025 12:43:08 ******/
CREATE DATABASE [NomeDoSeuBanco]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NomeDoSeuBanco', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NomeDoSeuBanco.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NomeDoSeuBanco_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NomeDoSeuBanco_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NomeDoSeuBanco].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NomeDoSeuBanco]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 07/04/2025 12:43:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Municipio]    Script Date: 07/04/2025 12:43:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Municipio](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [int] NOT NULL,
	[Nome] [varchar](255) NOT NULL,
	[Uf] [char](2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Relatorios]    Script Date: 07/04/2025 12:43:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Relatorios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DataSolicitacao] [datetime2](7) NOT NULL,
	[Arbovirose] [nvarchar](50) NOT NULL,
	[SemanaInicio] [int] NOT NULL,
	[SemanaFim] [int] NOT NULL,
	[CodigoIbge] [int] NOT NULL,
	[Municipio] [nvarchar](100) NOT NULL,
	[SolicitanteId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Relatorios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_solicitantes]    Script Date: 07/04/2025 12:43:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_solicitantes](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Cpf] [nvarchar](11) NOT NULL,
 CONSTRAINT [PK_tb_solicitantes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250407031503_Initial', N'9.0.3')
GO
SET IDENTITY_INSERT [dbo].[Municipio] ON 

INSERT [dbo].[Municipio] ([Id], [Codigo], [Nome], [Uf]) VALUES (1, 1100015, N'Alta Floresta D''Oeste', N'RO')
INSERT [dbo].[Municipio] ([Id], [Codigo], [Nome], [Uf]) VALUES (2, 1100023, N'Ariquemes', N'RO')
INSERT [dbo].[Municipio] ([Id], [Codigo], [Nome], [Uf]) VALUES (3, 1100031, N'Cabixi', N'RO')
GO
SET IDENTITY_INSERT [dbo].[Municipio] OFF
GO
SET IDENTITY_INSERT [dbo].[Relatorios] ON 

INSERT [dbo].[Relatorios] ([Id], [DataSolicitacao], [Arbovirose], [SemanaInicio], [SemanaFim], [CodigoIbge], [Municipio], [SolicitanteId]) VALUES (7, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'Dengue', 10, 12, 3550308, N'São Paulo', N'9cac14e8-bb31-4cdc-e668-08dd758575e8')
INSERT [dbo].[Relatorios] ([Id], [DataSolicitacao], [Arbovirose], [SemanaInicio], [SemanaFim], [CodigoIbge], [Municipio], [SolicitanteId]) VALUES (8, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'Dengue', 10, 12, 3550308, N'São Paulo', N'9cac14e8-bb31-4cdc-e668-08dd758575e8')
INSERT [dbo].[Relatorios] ([Id], [DataSolicitacao], [Arbovirose], [SemanaInicio], [SemanaFim], [CodigoIbge], [Municipio], [SolicitanteId]) VALUES (9, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'Chikungunya', 15, 18, 3304557, N'Rio de Janeiro', N'c1867725-aaa9-4370-65aa-08dd75e2fafe')
SET IDENTITY_INSERT [dbo].[Relatorios] OFF
GO
INSERT [dbo].[tb_solicitantes] ([Id], [Name], [Cpf]) VALUES (N'9cac14e8-bb31-4cdc-e668-08dd758575e8', N'João da Silva', N'12345678900')
INSERT [dbo].[tb_solicitantes] ([Id], [Name], [Cpf]) VALUES (N'c1867725-aaa9-4370-65aa-08dd75e2fafe', N'Maria Oliveira', N'98765432100')
INSERT [dbo].[tb_solicitantes] ([Id], [Name], [Cpf]) VALUES (N'47739d1e-2f64-42fa-65ab-08dd75e2fafe', N'Pedro Santos', N'11122233344')
GO
/****** Object:  Index [IX_Relatorios_SolicitanteId]    Script Date: 07/04/2025 12:43:08 ******/
CREATE NONCLUSTERED INDEX [IX_Relatorios_SolicitanteId] ON [dbo].[Relatorios]
(
	[SolicitanteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tb_solicitantes_Cpf]    Script Date: 07/04/2025 12:43:08 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tb_solicitantes_Cpf] ON [dbo].[tb_solicitantes]
(
	[Cpf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Relatorios]  WITH CHECK ADD  CONSTRAINT [FK_Relatorios_tb_solicitantes_SolicitanteId] FOREIGN KEY([SolicitanteId])
REFERENCES [dbo].[tb_solicitantes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Relatorios] CHECK CONSTRAINT [FK_Relatorios_tb_solicitantes_SolicitanteId]
GO
USE [master]
GO
